@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/mainCss")
</head>
<body>
    <div class="container" id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
    <script src='@Url.Content("~/Scripts/cardElement.jsx")'></script>
    <script src='@Url.Content("~/Scripts/cardList.jsx")'></script>
    <script src='@Url.Content("~/Scripts/cardDetail.jsx")'></script>
    <script src='@Url.Content("~/Scripts/cardFrame.jsx")'></script>
</body>
</html>
