@model IEnumerable<SozvezdieTest.Models.Tour>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/mainCss")
</head>
<body>
    @*<template id="tourElement">
        @TourHelpers.MakeTour(null)
    </template>*@
    <section>
        <div class="container">
            @foreach (var tour in Model)
            {
                <div class="element">
                    @TourHelpers.MakeTour(tour)
                </div>
                }
                <p class="button-container">
                    <a class="text button" onclick="loadMoreTours()">Загрузить ещё</a>
                </p>
            </div>
</section>
    <script type="text/javascript">
        var card = '@Html.Raw(TourHelpers.MakeTour(null).ToString().Replace("\r\n",""))';

        var wrap = document.createElement("div");
        wrap.innerHTML = card;
        wrap.setAttribute("class", "element");

        //var template = wrap.getElementsByClassName("element");
    </script>
@Scripts.Render("~/tours/script")
</body>
</html>
